* {
    scrollbar-width: thin;
    scrollbar-color: hsla(0, 0%, 78%, .5) transparent;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-feature-settings: normal;
    font-variation-settings: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 32px; /* Aggiunto padding */
    background-color: #1A1721;
    color: white;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
    margin: 20px auto;
    width: fit-content;
    padding: 0 10px;
    border: 2px solid #3F3F46;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.navbar a:hover {
    background-color: #575757;
    border-radius: 10px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    text-align: left;
}

.content {
    display: flex;
    align-items: center;
    padding-left: 96px;
}

.text {
    flex: 1;
    font-size: 24px;
    padding-left: 96px;
    margin-left: 100px;
    margin-bottom: 200px;
}

.text p {
    margin: 0;
    font-size: 1.5em;
    padding-left: 96px;
    margin-left: 100px;
}

.text h1 {
    font-size: 3em;
    margin-top: 10px;
    padding-left: 96px;
    margin-left: 100px;
}

.profile-pic {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic img {
    border-radius: 50%;
    border: 10px solid #4B0082;
    width: 520px;
    height: 520px;
    margin-right: 200px;
    margin-bottom: 200px;
}